body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}


/* taken from https://www.ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
